:root {
  --accent-color: #65a29d;
  --color-danger: #dc143c;
  --color: black;
  --color-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --color-background: #202020;
  }
}

.theme_day {
  --color: black;
  --color-background: white;
}

.theme_night {
  --color: white;
  --color-background: #202020;
}

body {
  margin: 25px 8px 8px 8px;
  min-height: calc(100vh -25px - 8px);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
  background-color: var(--color-background);
}
h1 {
  font-size: 36px;
  margin: 0px;
}
h2 {
  font-size: 28px;
  margin: 0px;
}

p, table, label {
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}
td {
  width: 50px;
  height: 30px;
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border: 1px solid #3f3f3f;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}
::-webkit-scrollbar-thumb:active {
  background: #7e7e7e;
}
::-webkit-scrollbar-track {
  background: #3f3f3f;
  border-radius: 53px;
}
::-webkit-scrollbar-track:hover {
  background: #3f3f3f;
}
::-webkit-scrollbar-track:active {
    background: #3f3f3f;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

button {
  touch-action: manipulation;
}

button.button {
  font-size: 20px;
  padding: 10px 16px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-weight: bold;
}

a.link {
  font-weight: bold;
  color: #ffa500;
  font-size: 20px;
}

.theme_day a.link {
  color: #0D3E9A;
}

.center {
  display: flex;
  justify-content: center;
}

/* Phone */
@media screen and (max-width: 900px) {
  .help_div{
    overflow-x: scroll;
  }
  .help_div_notice{
    display: block !important;
  }
}

/* Desktop */
@media screen and (min-width: 900px) {

}

/* Görßer als Phone */
@media screen and (min-width: 600px) {
  body {
    display: flex;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext{
  display: none;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  display: inline;
}

.button_on {
  background-color: #008D1C !important;
}

.button_off {
  background-color: #971919 !important;
}

.arrow {
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow_reverse {
  border: solid var(--color);
  border-width: 0 3px 3px 0;
}

.arrow_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  top: -1px;
  left: -1px;
}

.arrow_left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow_up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow_down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top: -3px;
}

.answer_buttons button {
  font-size: 19px;
  padding: 20px 16px;
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-weight: bold;
  background-color: #7e7e7e;
}

.homescreen_buttons button {
  font-size: 22px;
  padding: 20px 16px;
  margin: 15px;
  width: 250px;
  border-radius: 1000px;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-weight: bold;
  background-color: var(--accent-color);
}

.back_button {
  font-size: 22px;
  cursor: pointer;
  border: none;
  border-color: #FFFFFF;
  font-weight: bold;
  background-color: Transparent;
  padding-left: 10px;
  padding-right: 10px;
}

.back_button i{
  padding: 5px;
}

.instrument_selector button{
  font-size: 22px;
  padding: 20px 16px;
  margin: 15px;
  width: 250px;
  border-radius: 1000px;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-weight: bold;
  background-color: grey;
}

.selected{
  background-color: var(--accent-color) !important;
}

.weiter_button{
  font-size: 24px;
  color: var(--color);
  padding: 20px 16px;
  cursor: pointer;
  border: none;
  border-color: #FFFFFF;
  font-weight: bold;
  background-color: Transparent;
}

.weiter_button_animation{
  font-size: 22px;
  padding: 20px 16px;
  margin: 15px;
  width: 250px;
  border-radius: 1000px;
  cursor: pointer;
  border: 3px solid;
  color: var(--color);
  font-weight: bold;
  background-color: Transparent;
  border-color: Transparent;
}

.weiter_button_animation_active{
  border: 3px solid;
  border-color: var(--color);
  animation-name: weiter_button_animation;
  animation-duration: 2s;
}

/*
@keyframes weiter_button_animation {
  0%   {border-color: var(--color-background);}
  15%   {border-color: var(--accent-color);}
  40%  {border-color: var(--color-danger);}
  90%  {border-color: white}
}
*/
@keyframes weiter_button_animation {
  0%   {border-color: var(--color-background);}
  100%  {border-color: var(--color)}
}


.submit_button_animation_active{
  animation-name: submit_button_animation;
  animation-duration: 20s;
}

@keyframes submit_button_animation {
  0%   {background-color: var(--accent-color);}
  10%  {background-color: var(--color-danger);}
  90%  {background-color: var(--accent-color);}
}

.input_piano_main_keys div{
  width: calc(100% / 7);
  background-color: #FFF;
  border: 2px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 150px;
}

.input_piano_secondary_keys div{
  width: calc(100% / 7 / 3 * 2);
  background-color: #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100px;
}

.input_side_dots div{
  margin-left: 10px;
  margin-right: 10px;
  color: grey;
}

.input_side_dots_selected {
  color: var(--color) !important;
}

.input_div div{
  scroll-snap-align: start;
}